aiogram~=3.27.0
aiogram-dialog~=2.6.0
alembic~=1.18.4
asyncpg~=0.31.0
dishka~=1.9.1
fastapi>=0.135.3
fluentogram~=1.2.1
greenlet>=3.4.0
httpx>=0.27.2,<0.28.0
loguru~=0.7.3
msgspec~=0.21.0
pydantic>=2.11.0,<2.12.0
pydantic-settings~=2.13.1
redis~=7.4.0
remnawave==2.7.1
taskiq~=0.12.1
taskiq-redis~=1.2.2
uvicorn>=0.44.0
cryptography>=46.0.7
bcrypt>=5.0.0
sqlalchemy[mypy]>=2.0.49
qrcode[pil]>=8.2
python-jose[cryptography]>=3.5.0
aiofiles>=25.1.0
pillow>=12.2.0
